* {
  /* 한지윤 */

  /* <uniquifier>: Use a unique and descriptive class name*/
  /* <weight>: Use a value from 100 to 900 */
  /* .noto-sans-kr-<uniquifier>  */
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #737373;
  font-size: 14px;
  margin: 0;
  padding: 0;
  /* border: 0; */
}

.img-round {
  border-radius: 8px;
}

h1 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: black;
  display: block;
  text-align: center;
  margin-bottom: 35px;
}

h2 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: black;
  margin-bottom: 25px;
}

a {
  text-decoration: none;
}

b {
  font-weight: 600;
}

li{
  margin-bottom: 5px;
}

/* ===========영역확인=============== */
/* header white 지정 */

header {
  background-color: antiquewhite;
}

#searchmain {
  background-color: rgb(248, 244, 238);
}

#main-banner{
  background-color: burlywood;
}

#hot-service {
  background-color: beige;
}

#communicatin {
  background-color: rgb(255, 246, 232);
}

#gosu-portfolio {
  background-color: rgb(245, 237, 237);
}

footer{
  background-color: aliceblue;
}

/* ================================ */

/* 화살표 */
#banner-arrow-right{
  position: relative;
  bottom: 84px;
  left: 944px;
}

#banner-arrow-left{
  position: relative;
  bottom: 84px;
  right: 72px;
}

#service-arrow-right{
  position: relative;
  bottom: 160px;
  left: 944px;
}

#service-arrow-left{
  display: none;
  position: relative;
  bottom: 160px;
  right: 72px;
}

/* 헤더 */
header{
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;
}


header {
  width: 970px;
  padding: 0 30px;
  margin: 0 auto;
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.header-section{
  display: flex;
  width: auto;
}

.header--list01 {
  display: flex;
  list-style: none;
  margin: auto 0;
}

.header--text1 {
  margin: 0 10px;

  font-size: 16px;
  font-weight: 500;
  color: rgb(97, 97, 97);
}

.header--list02 {
  display: flex;
  list-style: none;
  margin: auto 0;
  align-items: center;
}

.header--text02 {
  margin: auto 8px;
  color: rgb(58, 58, 58);
}

#headerbutton {
  background-color: #00c7ae;
  padding: 7px 14px;
  border-radius: 6px 6px;

  color: white;
  font-weight: 500;
}

#header-search {
  background-color: #f2f2f2;
  border-radius: 6px;
  border: 0;
  width: 320px;
  height: 40px;
  display: flex;
  margin: auto auto;
  justify-content: space-around;
}

/*  */
main {
  width: 970px;
  margin: 0 auto;
}

/*  */

#searchmain {
  height: 200px;
  margin-top: 50px;
}

#searchmain-search {
  background-color: #f2f2f2;
  border-radius: 6px;
  border: 0;
  width: 540px;
  height: 40px;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}

#search {
  background-color: rgb(255, 255, 255, 0);
  border: 0;
  width: 500px;
}

.search-list {
  margin-top: 25px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-list-li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*  */
#main-banner{
  height: 110px;
  margin-top: 76px;
}

/*  */
#hot-service {
  height: 300px;
  margin-top: 50px;
}

.hot-service-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.hot-text{
  color: #323232;
  font-size: 16px;
  font-weight: 500;
}

.hot-text-small{
  margin-top: 3px;
  display: flex;
  align-items: center;
}

/*  */
#communicatin {
  height: 400px;
  margin-top: 50px;
}

/*  */
#gosu-portfolio {
  height: 400px;
  margin-top: 50px;
}

.gosu-portfolio-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.gosu-port-text{
  font-size: 12px;
  margin-top: 3px;
  display: flex;
  align-items: center;
}

.gosu-imgbox{
  width: 228px;
  height: 228px;
  border-radius: 8px;
  background-color: #00c7ae;
}

/*  */

hr {
  border: 1px 0 0 0 solid rgb(236, 236, 236);
}

footer {
  /* background-color: aliceblue; */

  width: 970px;
  margin: 5px auto;
  height: 400px;
  /* margin: 10px 14px; */
}

.footer-first {
  display: flex;
  justify-content: space-between;
}

.footerbutton {
  margin: 30px 10px 0 0;
  padding: 8px 10px;
  width: 110px;

  background-color: #00c7ae;
  border-radius: 22px 22px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.footerbutton-text {
  font-weight: 500;
  font-size: 12px;
  color: white;
  margin: 0 8px;
  text-align: center;
}

#footer-company {
  font-size: 12px;
}

.footer-company-list {
  display: flex;
  list-style-type: none;
  margin-bottom: 10px;
}

#footer-sns {
  width: 200px;
  margin: auto 0;
  display: flex;
  justify-content: space-between;
}

.footer-terms {
  margin-right: 30px;
  font-weight: 500;
  font-size: 12px;
}

.footer-list-container {
  margin: 20px 0 0 200px ;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  width: 400px;
  /* background-color: #00c7ae; */
}

.footer-list {
  list-style-type: none;
}

.point {
  margin: 15px 0 5px 0;
  color: #00c7ae;
  font-weight: 500;
  font-size: 20px;
}

.footer-text-caution{
  font-size: 12px;
  margin-bottom: 5px;
}


/* 임시 블록 */


.listnone {
  list-style-type: none;
}

.listcol {
  /* background-color: #00C7AE; */
  display: flex;
  width: 200px;
}
.col {
  display: flex;
}

.coljust {
  display: flex;
  justify-content: space-between;
}

