* {
  /* 한지윤 */
  
  /* <uniquifier>: Use a unique and descriptive class name*/
  /* <weight>: Use a value from 100 to 900 */
  /* .noto-sans-kr-<uniquifier>  */
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: gray;
  font-size: 14px;
}

.img-round{
  border-radius: 8px;
}

h1{
  font-family: "Noto Sans KR", sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: black;
  display: block;
  text-align: center;
  margin-bottom: 35px;
}

h2{
  font-family: "Noto Sans KR", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: black;
}

a{
  text-decoration: none;
}

/* 헤더 */

header {
  /* background-color: antiquewhite; */

  width: 970px;
  margin: 0 auto;
  height: 60px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.header--list01{
  display: flex;
  list-style: none;
  margin: auto 28% auto 0;
  padding: 0;
}

.header--text1 {
  margin-right: 20px;
  
  font-size: 16px;
  font-weight: 500;
  color: rgb(97, 97, 97);
}

.header--list02{
  display: flex;
  list-style: none;
  margin: auto 0;
}

.header--text02 {
  margin: auto 8px;
  color: rgb(58, 58, 58);
} 


#headerbutton {
  background-color: #00c7ae;
  padding: 7px 14px;
  border-radius: 6px 6px;

  color: white;
  font-weight: 600;
}

/*  */
main{
  width: 970px;
  margin: 0 auto;
}

#searchmain {
  /* background-color: rgb(248, 244, 238); */

  height: 200px;
  margin-bottom: 40px;
}


#searchmain-search{
  background-color: #f2f2f2;
  border-radius: 6px;
  border: 0;
  width: 540px;
  height: 40px;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}

#search{
  background-color : rgb(255,255,255,0);
  border: 0;
  width: 500px;
}

.search-list{
  margin-top: 25px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-list-li{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*  */
#hot-service{
  /* background-color: beige; */

  height: 300px;
  margin-top: 90px;
}

.hot-service-list{
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
}
/*  */
#communicatin{
  /* background-color: rgb(255, 246, 232); */

  height: 400px;
}

/*  */
#gosu-portfolio{
  /* background-color: rgb(245, 237, 237); */

  height: 400px;
}

.gosu-portfolio-list{
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

/*  */

hr{
  border: 1px 0 0 0 solid rgb(236, 236, 236);
}

footer {
  /* background-color: aliceblue; */

  width: 950px;
  margin: auto;
  height: 350px;
  /* margin: 10px 14px; */
}

.footer-first{
  display: flex;
  justify-content: space-between;
}

.footerbutton {
  margin: 22px 10px 0 0;
  padding: 6px 22px;

  background-color: #00c7ae;
  border-radius: 22px 22px;
}

.footerbutton-text{
  font-weight: 500;
  font-size: 12px;
  color: white;
  /* padding-bottom: 10px; */
  /* line-height: 40px; */
  text-align: center;
}

#footer-company {
  font-size: 12px;
}

#footer-sns{
  margin: auto 0;
}

.footer-terms {
  margin-right: 30px;
  font-weight: 600;
  font-size: 12px;
}

.footer-list-container{
  margin-left: 200px;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  width: 450px;
  /* background-color: #00c7ae; */
}

.footer-list{
  padding: 0;
  list-style-type: none;
}






/* 디자인 블록 */

b {
  font-weight: 600;
}

.listnone {
  list-style-type: none;
}


.listcol {
  /* background-color: #00C7AE; */
  display: flex;
  width: 200px;
}
.col {
  display: flex;
}

.coljust {
  display: flex;
  justify-content: space-between;
}

.point {
  margin: 15px 0 5px 0;
  color: #00c7ae;
  font-weight: 500;
  font-size: 20px;
}
